@{
    ViewBag.Title = "Home Page";
}
<style>
#inner {
    margin-left: auto;
    margin-right: auto; 
    width:900px;
    
}

body
{
background-image:url(http://media.giphy.com/media/TRjQlKBURMA5G/giphy.gif);
background-repeat:repeat;
}



</style>

<div id="outer">  
    <div id="inner">
        <img src="~/Content/santa-claus3.jpg" style="width:900px; height:700px; border-radius: 80px;"/>
    </div>
</div>

